<a href="https://colab.research.google.com/github/Joyoujung/first-project/blob/main/APPENDIX_A.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
# 양의 정수
a=1000
print(a)

# 음의 정수
a=-7
print(a)

# 0
a=0
print(a)

1000
-7
0

In [12]:
# 양의 실수
a=157.93
print(a)

# 음의 실수
a=-1837.2
print(a)

# 소수부가 0일 때 0을 생략
a=5.
print(a)

# 정수부가 0일 때 0을 생략
a=-.7
print(a)

157.93
-1837.2
5.0
-0.7

In [9]:
# 10억의 지수 표현 방식
a=1e9
print(a)

# 752.5
a=75.25e1
print(a)

# 3.954
a=3954e-3
print(a)

1000000000.0
752.5
3.954

In [2]:
a=0.3+0.6
print(a)

if a==0.9:
  print(True)
else:
  print(False)

0.8999999999999999
False

In [4]:
a=0.3+0.6
print(round(a,4))

if round(a,4)==0.9:
  print(True)
else:
  print(False)

0.9
True

In [6]:
a=7
b=3

# 나누기
print(a/b)

# 나머지
print(a%b)

# 몫
print(a//b)

2.3333333333333335
1
2

In [7]:
a=5
b=3

print(a**b)

125

In [8]:
a=[1,2,3,4,5,6,7,8,9]
print(a)

# 인덱스 4, 즉 다섯 번재 원소에 접근
print(a[4])

# 빈 리스트 선언 방법 1)
a=list()
print(a)

# 빈 리스트 선언 방법 2)
a=[]
print(a)

[1, 2, 3, 4, 5, 6, 7, 8, 9]
5
[]
[]

In [13]:
# 크기가 N이고, 모든 값이 0인 1차원 리스트
n=10
a=[0]*n
print(a)

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [14]:
a=[1,2,3,4,5,6,7,8,9]
# 뒤에서 첫 번째 원소 출력
print(a[-1])

# 뒤에서 세 번째 원소 출력
print(a[-3])

# 네 번째 원소 값 변경
a[3]=7
print(a)

9
7
[1, 2, 3, 7, 5, 6, 7, 8, 9]

In [15]:
a=[1,2,3,4,5,6,7,8,9]

# 두 번째 원소부터 네 번째 원소까지
print(a[1:4])

[2, 3, 4]

In [16]:
# 0부터 19까지의 수 중에서 홀수만 포함하는 리스트
array=[i for i in range(20) if i%2==1]

print(array)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [17]:
array=[]
for i in range(20):
  if i%2==1:
    array.append(i)

print(array)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [18]:
# 1부터 9까지의 수의 제곱 값을 포함하는 리스트
array=[i*i for i in range(1,10)]

print(array)

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [20]:
# N X M 크기의 2차원 리스트 초기화
n=3
m=3
array=[[0]*m for _ in range(n)]
print(array)

[[0, 0, 0], [0, 0, 0], [0, 0, 0]]

In [21]:
# N X M 크기의 2차원 리스트 초기화(잘못된 방법)
n=3
m=4
array=[[0]*m]*n
print(array)

array[1][1]=5
print(array)

[[0, 0, 0, 0], [0, 0, 0, 0], [0, 0, 0, 0]]
[[0, 5, 0, 0], [0, 5, 0, 0], [0, 5, 0, 0]]

In [22]:
a=[1,4,3]
print("기본 리스트: ", a)

# 리스트에 원소 삽입
a.append(2)
print("삽입: ", a)

# 오름차순 정렬
a.sort()
print("오름차순 정렬: ", a)

# 내림차순 정렬
a.sort(reverse=True)
print("내림차순 정렬: ", a)

# 리스트 원소 뒤집기
a.reverse()
print("원소 뒤집기: ", a)

# 특정 인덱스에 데이터 추가
a.insert(2,3)
print("인덱스 2에 3 추가: ", a)

# 특정 값인 데이터 개수 세기
print("값이 3인 데이터 개수: ", a.count(3))

# 특정 값 데이터 삭제
a.remove(1)
print("값이 1인 데이터 삭제: ", a)

기본 리스트:  [1, 4, 3]
삽입:  [1, 4, 3, 2]
오름차순 정렬:  [1, 2, 3, 4]
내림차순 정렬:  [4, 3, 2, 1]
원소 뒤집기:  [1, 2, 3, 4]
인덱스 2에 3 추가:  [1, 2, 3, 3, 4]
값이 3인 데이터 개수:  2
값이 1인 데이터 삭제:  [2, 3, 3, 4]

In [23]:
a=[1,2,3,4,5,5,5]
remove_set={3,5}

# remove_set에 포함되지 않은 값만을 저장
result=[i for i in a if i not in remove_set]
print(result)

[1, 2, 4]

In [27]:
data='Hello World'
print(data)

data="Don't you know \"Python\"?"
print(data)

Hello World
Don't you know "Python"?

In [28]:
a="String"

print(a*3)

StringStringString

In [29]:
a="ABCDEF"

print(a[2:4])

CD

In [31]:
# 튜플은 값 변경 X
a=(1,2,3,4)
print(a)

a[2]=7

(1, 2, 3, 4)

TypeError: ignored

In [32]:
data=dict()
data['사과']='Apple'
data['바나나']='Banana'
data['코코넛']='Coconut'

print(data)

{'사과': 'Apple', '바나나': 'Banana', '코코넛': 'Coconut'}

In [33]:
data=dict()
data['사과']='Apple'
data['바나나']='Banana'
data['코코넛']='Coconut'

if '사과' in data:
  print("'사과'를 키로 가지는 데이터가 존재합니다.")

'사과'를 키로 가지는 데이터가 존재합니다.

In [34]:
data=dict()
data['사과']='Apple'
data['바나나']='Banana'
data['코코넛']='Coconut'

# 키 데이터만 담은 리스트
key_list=data.keys()
# 값 데이터만 담은 리스트
value_list=data.values()
print(key_list)
print(value_list)

# 각 키에 따른 값을 하나씩 출력
for key in key_list:
  print(data[key])

dict_keys(['사과', '바나나', '코코넛'])
dict_values(['Apple', 'Banana', 'Coconut'])
Apple
Banana
Coconut

In [35]:
# 집합 자료형 초기화 방법 1
data=set([1,1,2,3,4,4,5])
print(data)

# 집합 자료형 초기화 방법 2
data={1,1,2,3,4,4,5}
print(data)

{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5}

In [36]:
a=set([1,2,3,4,5])
b=set([3,4,5,6,7])

print(a|b) # 합집합
print(a&b) # 교집합
print(a-b) # 차집합

{1, 2, 3, 4, 5, 6, 7}
{3, 4, 5}
{1, 2}

In [37]:
data=set([1,2,3])
print(data)

# 새로운 원소 추가
data.add(4)
print(data)

# 새로운 원소 여러 개 추가
data.update([5,6])
print(data)

# 특정한 값을 갖는 원소 삭제
data.remove(3)
print(data)

{1, 2, 3}
{1, 2, 3, 4}
{1, 2, 3, 4, 5, 6}
{1, 2, 4, 5, 6}

In [38]:
x=15

if x>=10:
  print(x)

15

In [40]:
score=85

if score>=90:
  print("학점: A")
elif score>=80:
  print("학점: B")
elif score>=70:
  print("학점: C")
else:
  print("학점: F")

학점: B

In [41]:
score=85

if score>=70:
  print('성적이 70점 이상입니다.')
  if score>=90:
    print('우수한 성적입니다.')

else:
  print('성적이 70점 미만입니다.')
  print('조금 더 분발하세요.')

print('프로그램을 종료합니다.')

성적이 70점 이상입니다.
프로그램을 종료합니다.

In [42]:
score=85

if score>=80:
  pass #나중에 작성할 소스코드
else:
  print('성적이 80점 미만입니다.')

print('프로그램을 종료합니다.')

프로그램을 종료합니다.

In [46]:
score=85

if score>=80: result="Success"
else: result="Fail"

print(result)

Success

In [47]:
score=85
result="Success" if score>=80 else "Fail"

print(result)

Success

In [48]:
a=[1,2,3,4,5,5,5]
remove_set={3,5}

result=[]
for i in a:
  if i not in remove_set:
    result.append(i)

print(result)

[1, 2, 4]

In [49]:
a=[1,2,3,4,5,5,5]
remove_set={3,5}

result=[i for i in a if i not in remove_set]

print(result)

[1, 2, 4]

In [50]:
i=1
result=0

# i가 9보다 작거나 같을 때 아래 코드를 반복적으로 실행
while i<=9:
  result+=i
  i+=1

print(result)

45

In [51]:
i=1
result=0

# i가 9보다 작거나 같을 때 아래 코드를 반복적으로 실행
while i<=9:
  if i%2==1:
    result+=i
  i+=1

print(result)

25

In [52]:
result=0

#i는 1부터 9까지의 모든 값을 순회
for i in range(1,10):
  result+=i

print(result)

45

In [53]:
scores=[90,85,77,65,97]

for i in range(5):
  if scores[i]>=80:
    print(i+1, "번 학생은 합격입니다.")

1 번 학생은 합격입니다.
2 번 학생은 합격입니다.
5 번 학생은 합격입니다.

In [54]:
scores=[90,85,77,65,97]
black_list={2,4}

for i in range(5):
  if i+1 in black_list:
    continue
  if scores[i]>=80:
    print(i+1, "번 학생은 합격입니다.")

1 번 학생은 합격입니다.
5 번 학생은 합격입니다.

In [55]:
for i in range(2,10):
  for j in range(1,10):
    print(i, "X", j, "=", i*j)
  print()

2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18

3 X 1 = 3
3 X 2 = 6
3 X 3 = 9
3 X 4 = 12
3 X 5 = 15
3 X 6 = 18
3 X 7 = 21
3 X 8 = 24
3 X 9 = 27

4 X 1 = 4
4 X 2 = 8
4 X 3 = 12
4 X 4 = 16
4 X 5 = 20
4 X 6 = 24
4 X 7 = 28
4 X 8 = 32
4 X 9 = 36

5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45

6 X 1 = 6
6 X 2 = 12
6 X 3 = 18
6 X 4 = 24
6 X 5 = 30
6 X 6 = 36
6 X 7 = 42
6 X 8 = 48
6 X 9 = 54

7 X 1 = 7
7 X 2 = 14
7 X 3 = 21
7 X 4 = 28
7 X 5 = 35
7 X 6 = 42
7 X 7 = 49
7 X 8 = 56
7 X 9 = 63

8 X 1 = 8
8 X 2 = 16
8 X 3 = 24
8 X 4 = 32
8 X 5 = 40
8 X 6 = 48
8 X 7 = 56
8 X 8 = 64
8 X 9 = 72

9 X 1 = 9
9 X 2 = 18
9 X 3 = 27
9 X 4 = 36
9 X 5 = 45
9 X 6 = 54
9 X 7 = 63
9 X 8 = 72
9 X 9 = 81

In [56]:
def add(a,b):
  return a+b

print(add(3,7))

10

In [57]:
def add(a,b):
  print('함수의 결과:', a+b)

add(3,7)

함수의 결과: 10

In [58]:
def add(a,b):
  print('함수의 결과:', a+b)

add(b=3, a=7)

함수의 결과: 10

In [60]:
a=0

def func():
  global a
  a+=1

for i in range(10):
  func()

print(a)

10

In [62]:
def add(a,b):
  return a+b

# 일반적인 add() 메서드 사용
print(add(3,7))

# 람다 표현식으로 구현한 add() 메서드
print((lambda a,b:a+b)(3,7))

10
10

In [65]:
# 데이터의 개수 입력
n=int(input())
# 각 데이터를 공백으로 구분하여 입력
data=list(map(int, input().split()))

data.sort(reverse=True)
print(data)

5
65 90 75 34 99
[99, 90, 75, 65, 34]

In [66]:
# n, m, k를 공백으로 구분하여 입력
n,m,k=map(int, input().split())

print(n,m,k)

3 5 7
3 5 7

In [70]:
import sys

# 문자열 입력받기
data=sys.stdin.readline().rstrip()
print(data)

In [71]:
# 출력할 변수들
a=1
b=2

print(a,b)

1 2

In [72]:
# 출력할 변수들
a=1
b=2

print(a)
print(b)

1
2

In [73]:
# 출력할 변수들
answer=7

print("정답은"+answer+"입니다.")

TypeError: ignored

In [75]:
# 출력할 변수들
answer=7

print("정답은 "+str(answer)+"입니다.")

정답은 7입니다.

In [76]:
# 출력할 변수들
answer=7

print("정답은", str(answer), "입니다.")

정답은 7 입니다.

In [77]:
answer=7
print(f"정답은 {answer}입니다.")

정답은 7입니다.

In [78]:
result=sum([1,2,3,4,5])
print(result)

15

In [79]:
result=min(7,3,5,2)
print(result)

2

In [80]:
result=max(7,3,5,2)
print(result)

7

In [81]:
result=eval("(3+5)*7")
print(result)

56

In [82]:
result=sorted([9,1,8,5,4]) # 오름차순으로 정렬
print(result)
result=sorted([9,1,8,5,4], reverse=True) # 내림차순으로 정렬
print(result)

[1, 4, 5, 8, 9]
[9, 8, 5, 4, 1]

In [83]:
result=sorted([('홍길동', 35),('이순신',75),('아무개',50)], key=lambda x:x[1], reverse=True)
print(result)

[('이순신', 75), ('아무개', 50), ('홍길동', 35)]

In [84]:
data=[9,1,8,5,4]
data.sort()
print(data)

[1, 4, 5, 8, 9]

In [85]:
from itertools import permutations

data=['A','B','C'] # 데이터 준비
result=list(permutations(data,3)) # 모든 순열 구하기

print(result)

[('A', 'B', 'C'), ('A', 'C', 'B'), ('B', 'A', 'C'), ('B', 'C', 'A'), ('C', 'A', 'B'), ('C', 'B', 'A')]

In [86]:
from itertools import combinations

data=['A','B','C'] # 데이터 준비
result=list(combinations(data,2)) # 2개를 뽑는 모든 조합 구하기

print(result)

[('A', 'B'), ('A', 'C'), ('B', 'C')]

In [87]:
from itertools import product

data=['A','B','C'] # 데이터 준비
result=list(product(data, repeat=2)) # 2개를 뽑는 모든 순열 구하기(중복 허용)

print(result)

[('A', 'A'), ('A', 'B'), ('A', 'C'), ('B', 'A'), ('B', 'B'), ('B', 'C'), ('C', 'A'), ('C', 'B'), ('C', 'C')]

In [88]:
from itertools import combinations_with_replacement

data=['A','B','C'] # 데이터 준비
result=list(combinations_with_replacement(data,2)) # 2개를 뽑는 모든 조합 구하기(중복 허용)
print(result)

[('A', 'A'), ('A', 'B'), ('A', 'C'), ('B', 'B'), ('B', 'C'), ('C', 'C')]

In [89]:
import heapq

def heapsort(iterable):
  h=[]
  result=[]
  # 모든 원소를 차례대로 힙에 삽입
  for value in iterable:
    heapq.heappush(h, value)
  # 힙에 삽입된 모든 원소를 차례대로 꺼내어 담기
  for i in range(len(h)):
    result.append(heapq.heappop(h))
  return result

result=heapsort([1,3,5,7,9,2,4,6,8,0])
print(result)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [93]:
import heapq

def heapsort(iterable):
  h=[]
  result=[]
  # 모든 원소를 차례대로 힙에 삽입
  for value in iterable:
    heapq.heappush(h, -value)
  # 힙에 삽입된 모든 원소를 차례대로 꺼내어 담기
  for i in range(len(h)):
    result.append(-heapq.heappop(h))
  return result

result=heapsort([1,3,5,7,9,2,4,6,8,0])
print(result)

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [94]:
from bisect import bisect_left, bisect_right

a=[1,2,4,4,8]
x=4

print(bisect_left(a,x))
print(bisect_right(a,x))

2
4

In [95]:
from bisect import bisect_left, bisect_right

# 값이 [left_value, right_value]인 데이터의 개수를 반환하는 함수
def count_by_range(a,left_value, right_value):
  right_index=bisect_right(a, right_value)
  left_index=bisect_left(a, left_value)
  return right_index - left_index

# 리스트 선언
a=[1,2,3,3,3,3,4,4,8,9]

# 값이 4인 데이터 개수 출력
print(count_by_range(a,4,4))

# 값이 [-1,3] 범위에 있는 데이터 개수 출력
print(count_by_range(a,-1,3))

2
6

In [96]:
from collections import deque

data=deque([2,3,4])
data.appendleft(1)
data.append(5)

print(data)
print(list(data)) # 리스트 자료형으로 변환

deque([1, 2, 3, 4, 5])
[1, 2, 3, 4, 5]

In [97]:
from collections import Counter

counter = Counter(['red','blue','red','green','blue','blue'])

print(counter['blue']) # 'blue'가 등장한 횟수 출력
print(counter['green']) # 'green'이 등장한 횟수 출력
print(dict(counter)) # 사전 자료형으로 반환

3
1
{'red': 2, 'blue': 3, 'green': 1}

In [98]:
import math

print(math.factorial(5)) # 5 팩토리얼을 출력

120

In [99]:
import math

print(math.sqrt(7)) # 7의 제곱근을 출력

2.6457513110645907

In [100]:
import math

print(math.gcd(21, 14))

7

In [101]:
import math

print(math.pi) # 파이(pi) 출력
print(math.e) # 자연상수 e 출력

3.141592653589793
2.718281828459045

In [1]:
array=[3,5,1,2,4] # 5개의 데이터(N=5)
summary=0 # 합계를 저장할 변수

# 모든 데이터를 하나씩 확인하며 합계를 계산
for x in array:
  summary+=x

# 결과를 출력
print(summary)

15

In [2]:
import time
start_time=time.time() # 측정 시작

# 프로그램 소스코드
end_time=time.time() # 측정 종료
print("time :", end_time-start_time) # 수행 시간 출력

time : 2.7418136596679688e-05

In [3]:
from random import randint
import time

# 배열에 10,000개의 정수 삽입
array=[]
for _ in range(10000):
  array.append(randint(1,100)) # 1부터 100 사이의 랜덤한 정수

# 선택 정렬 프로그램 성능 측정
start_time=time.time()

# 선택 정렬 프로그램 소스 코드
for i in range(len(array)):
  min_index=i # 가장 작은 원소의 인덱스
  for j in range(i+1, len(array)):
    if array[min_index]>array[j]:
      min_index=j
  array[i], array[min_index]=array[min_index],array[i] # 스와프

end_time=time.time() # 측정 종료
print("선택 정렬 성능 측정:", end_time-start_time) # 수행 시간 출력

# 기본 정렬 라이브러리 성능 측정
start_time=time.time()

# 기본 정렬 라이브러리 사용
array.sort()

end_time=time.time() # 측정 종료
print("기본 정렬 라이브러리 성능 측정:", end_time-start_time) # 수행 시간 출력

선택 정렬 성능 측정: 7.957292795181274
기본 정렬 라이브러리 성능 측정: 9.751319885253906e-05